<div id="<%= dom_id article_controller %>">
  <p>
    <strong>Title:</strong>
    <%= article_controller.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article_controller.body %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article_controller.description %>
  </p>

  <p>
    <strong>Ispublished:</strong>
    <%= article_controller.isPublished %>
  </p>

  <p>
    <strong>Publishedat:</strong>
    <%= article_controller.publishedAt %>
  </p>

</div>
